/* ConnectForm.css */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.form-card {
  max-width: 600px;
  height: 100%;
  width: 100%;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.title {
  font-size: 20px;
  text-align: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.circle img {
  width: 80px;
  height: 80px;
  align-self: center;
  opacity: 0.7;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input {
  min-width: 75%;
  padding: 10px;
  height: 27px;
  margin: 10px 0;
  border-radius: 25px;
  border: none;
  outline: none;
  align-content: center;
  text-align: center;
  background-color: #d9d9d9;
}

.button {
  background-color: #5d94dd;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  height: 20px;
  text-transform: uppercase;
  width: 130px;
}

.button:hover {
  background-color: #5d95dddb;
}

.divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divider {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 3px;
  background-color: #000000;
  border-radius: 10px;
  opacity: 35%;
}

.options-effect {
  background-color: #1b14147c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.options-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(224, 224, 224);
  width: 90%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  z-index: 1000; /* Ensure it's on top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.option-button:hover {
  background-color: #0056b3;
}

.error-message {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: black;
  padding: 7px;
  border-radius: 5px;
  width: 80%;
  font-weight: bold;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.error-message.show {
  opacity: 1;
}
